<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/burger.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body background="/img/Burger.jpg">
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>